#route1{
	background-color: #D32326;
}

#route2{
	background-color: #223E7D;
}

#route3{
	background-color: #38A700;
}

#route4 {
	background-color: #E69800;
}

#route10{
	background-color: #800000;
}

#route20{
	background-color: #00C5FF;
}

