.imgHeader{
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
}

.scheduleHeader{
	background-color: #3F3F3F;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;
	font-size: 14px;
}

.directionHeader{
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 3px;
}

.stopCircle{
	width: 30px;
	height: 30px;
	background: #E0E0E0;
	border-radius: 15px;
	padding-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-weight: bold;
	border: 2px solid #4D4D4D;
}

.stopInfo{
	padding-top: 5px;
	margin-bottom: 10px;
}

.exception{
	margin-top: 16px;
}

#stop{
	width:850px;
	height: 50px;
	text-align: center;
	font-size: 36px;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#footer{
	width: 850px;
	height: 135px;
}

#footerText{
	position: relative;
	left: 90px;
	width: 500px;
	height: 135px;
	text-align: center;
	font-size: 16px;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	float: left;
}

#footerImg{
	width: 120px;
	height: 100px;
	float: right;
	margin: 35px 115px 0 0;
}