<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>GO TRANSIT TIMETABLE</title>
	<link rel="stylesheet" href="timetable.css">
</head>

<body>
	<div id="stop">MADIGAN HOSPITAL</div>

	<div class="main">
		<div class="route">
			<img src="route1_logo.jpg" class="imgHeader"/>
			
			<div class="dirHeader" id="rt1">TO LEWIS NORTH</div>
			
			<div class="table">
				<div class="dayHeader">MONDAY - FRIDAY</div>
			
				<div class="column">
					<div class="entry">7:00</div>
					<div class="entry">7:20</div>
					<div class="entry">7:40</div>
					<div class="entry">8:00</div>
					<div class="entry">8:20</div>
					<div class="entry">8:40</div>
					<div class="entry">9:00</div>
					<div class="entry">9:20</div>
					<div class="entry">9:40</div>
					<div class="entry">10:00</div>
					<div class="entry">10:20</div>
					<div class="entry">10:40</div>
					<div class="entry">11:00</div>
					<div class="entry">11:20</div>
					<div class="entry">11:40</div>
					<div class="entry bold">12:00</div>
					<div class="entry bold">12:20</div>
					<div class="entry bold">12:40</div>
					<div class="entry bold">13:00</div>
					<div class="entry bold">13:20</div>
				</div>
				<div class="column">
					<div class="entry bold">13:40</div>
					<div class="entry bold">14:00</div>
					<div class="entry bold">14:20</div>
					<div class="entry bold">14:40</div>
					<div class="entry bold">15:00</div>
					<div class="entry bold">15:20</div>
					<div class="entry bold">15:40</div>
					<div class="entry bold">16:00</div>
					<div class="entry bold">16:20</div>
					<div class="entry bold">16:40</div>
					<div class="entry bold">17:00</div>
					<div class="entry bold">17:20</div>
					<div class="entry bold">17:40</div>
					<div class="entry bold">18:00</div>
					<div class="entry bold">18:20</div>
					<div class="entry bold">18:40</div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
				</div>
			</div>
		</div>
		
		<div class="route">
			<img src="route1e_logo.jpg" class="imgHeader" />
			
			<div class="dirHeader" id="rt1e">TO LEWIS NORTH</div>
			
			<div class="table">
				<div class="dayHeader">SATURDAY & SUNDAY</div>
				
				<div class="column">
					<div class="entry">7:00</div>
					<div class="entry">7:20</div>
					<div class="entry">7:40</div>
					<div class="entry">8:00</div>
					<div class="entry">8:20</div>
					<div class="entry">8:40</div>
					<div class="entry">9:00</div>
					<div class="entry">9:20</div>
					<div class="entry">9:40</div>
					<div class="entry">10:00</div>
					<div class="entry">10:20</div>
					<div class="entry">10:40</div>
					<div class="entry">11:00</div>
					<div class="entry">11:20</div>
					<div class="entry">11:40</div>
					<div class="entry bold">12:00</div>
					<div class="entry bold">12:20</div>
					<div class="entry bold">12:40</div>
					<div class="entry bold">13:00</div>
					<div class="entry bold">13:20</div>
				</div>
				<div class="column">
					<div class="entry bold">13:40</div>
					<div class="entry bold">14:00</div>
					<div class="entry bold">14:20</div>
					<div class="entry bold">14:40</div>
					<div class="entry bold">15:00</div>
					<div class="entry bold">15:20</div>
					<div class="entry bold">15:40</div>
					<div class="entry bold">16:00</div>
					<div class="entry bold">16:20</div>
					<div class="entry bold">16:40</div>
					<div class="entry bold">17:00</div>
					<div class="entry bold">17:20</div>
					<div class="entry bold">17:40</div>
					<div class="entry bold">18:00</div>
					<div class="entry bold">18:20</div>
					<div class="entry bold">18:40</div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
				</div>
			</div>
		</div>
		
		<div class="route">
			<img src="route2e_logo.jpg" class="imgHeader" />
			
			<div class="dirHeader" id="rt2e">TO McCHORD FIELD</div>
			
			<div class="table">
				<div class="dayHeader">MONDAY - FRIDAY</div>
				
				<div class="column">
					<div class="entry">7:00</div>
					<div class="entry">7:20</div>
					<div class="entry">7:40</div>
					<div class="entry">8:00</div>
					<div class="entry">8:20</div>
					<div class="entry">8:40</div>
					<div class="entry">9:00</div>
					<div class="entry">9:20</div>
					<div class="entry">9:40</div>
					<div class="entry">10:00</div>
					<div class="entry">10:20</div>
					<div class="entry">10:40</div>
					<div class="entry">11:00</div>
					<div class="entry">11:20</div>
					<div class="entry">11:40</div>
					<div class="entry bold">12:00</div>
					<div class="entry bold">12:20</div>
					<div class="entry bold">12:40</div>
					<div class="entry bold">13:00</div>
					<div class="entry bold">13:20</div>
				</div>
				<div class="column">
					<div class="entry bold">13:40</div>
					<div class="entry bold">14:00</div>
					<div class="entry bold">14:20</div>
					<div class="entry bold">14:40</div>
					<div class="entry bold">15:00</div>
					<div class="entry bold">15:20</div>
					<div class="entry bold">15:40</div>
					<div class="entry bold">16:00</div>
					<div class="entry bold">16:20</div>
					<div class="entry bold">16:40</div>
					<div class="entry bold">17:00</div>
					<div class="entry bold">17:20</div>
					<div class="entry bold">17:40</div>
					<div class="entry bold">18:00</div>
					<div class="entry bold">18:20</div>
					<div class="entry bold">18:40</div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
				</div>
			</div>
		</div>
		
		<div class="route">
			<img src="route3_logo.jpg" class="imgHeader" />
			
			<div class="dirHeader" id="rt3">TO JOINT BASE HQ</div>
			
			<div class="table">
				<div class="dayHeader">MONDAY - FRIDAY</div>
			
				<div class="column">
					<div class="entry">7:00</div>
					<div class="entry">7:20</div>
					<div class="entry">7:40</div>
					<div class="entry">8:00</div>
					<div class="entry">8:20</div>
					<div class="entry">8:40</div>
					<div class="entry">9:00</div>
					<div class="entry">9:20</div>
					<div class="entry">9:40</div>
					<div class="entry">10:00</div>
					<div class="entry">10:20</div>
					<div class="entry">10:40</div>
					<div class="entry">11:00</div>
					<div class="entry">11:20</div>
					<div class="entry">11:40</div>
					<div class="entry bold">12:00</div>
					<div class="entry bold">12:20</div>
					<div class="entry bold">12:40</div>
					<div class="entry bold">13:00</div>
					<div class="entry bold">13:20</div>
				</div>
				<div class="column">
					<div class="entry bold">13:40</div>
					<div class="entry bold">14:00</div>
					<div class="entry bold">14:20</div>
					<div class="entry bold">14:40</div>
					<div class="entry bold">15:00</div>
					<div class="entry bold">15:20</div>
					<div class="entry bold">15:40</div>
					<div class="entry bold">16:00</div>
					<div class="entry bold">16:20</div>
					<div class="entry bold">16:40</div>
					<div class="entry bold">17:00</div>
					<div class="entry bold">17:20</div>
					<div class="entry bold">17:40</div>
					<div class="entry bold">18:00</div>
					<div class="entry bold">18:20</div>
					<div class="entry bold">18:40</div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
					<div class="entry"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div id="footerText">
			<p>For questions or assistance planning your trip, please call the Transit Supervisor at (253) 966-3939.</p>
			<p>All times are estimated for public guidance only. GO Transit does not operate on Federal Holidays.</p>
			<p>For current route maps and schedules please visit www.facebook.com/GoLewisMcChord.</p>
		</div>
		
		<img src="go_logo.jpg" id="footerImg" />
	</div>

</body>
</html>